<input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
<p></p>

<div class="row">
  <div class="col-md-4">
    <table class="table table-dark table-responsive" *ngFor="let event of events$ | filter: {eventname: searchText, eventcity: searchText, eventdate:searchText};" (click)="getEvent(event)">
      <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Event City</th>
        <th scope="col">Event Date</th>
      </tr>
      </thead>
      <tbody>
      <td> {{event.eventname}}</td>
      <td>{{event.eventcity}}</td>
      <td>{{event.eventdate}}</td>

      </tbody>
    </table>
    <div>

      <p>
        <a *ngIf="organizer" routerLink="/createvent" class="btn btn-primary">Add Event</a>

      </p>
    </div>
  </div>
  <div class="col-md-6">
    <app-eventdetails [event]="currentEvent"></app-eventdetails>

  </div>


</div>
